<section class="wc-prt d-flex flex-column align-items-center justify-content-around">
    <div class="b_blue"></div>
    <h1>Летняя Школа олимпийского резерва</h1>

    <p>для 5-10 классов</p>

</section>
<div class="v_prt w-100">
    <iframe
            src="https://www.youtube.com/embed/4ZmDana1u3Y">
    </iframe>
</div>
<div class="w_i_t w-100">
    <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="content p-5 d-flex align-items-center flex-column">
        <div class="f_p w-100 h-50">
            <h3>Что это?</h3>
            <div class="item">
                <img src="" alt="no-image">
                <p>Учебно-тренировочные сборы <br> <span>интенсивной подготовки к олимпиадам</span> <br> различного уровня</p>
            </div>
        </div>
        <div class="f_p w-100 h-50">
            <h3>Для кого это?</h3>
            <div class="d-flex justify-content-around w-100">
                <div class="item">
                    <img src="" alt="no-image">
                    <p>Учебно-тренировочные сборы <br> <span>интенсивной подготовки к олимпиадам</span> <br> различного уровня</p>
                </div>
                <div class="item">
                    <img src="" alt="no-image">
                    <p>Учебно-тренировочные сборы <br> <span>интенсивной подготовки к олимпиадам</span> <br> различного уровня</p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="acvts_prt d-flex align-items-center justify-content-center flex-column w-100 p-5">
    <h2>Руководитель Проекта <span>самый результативный</span> на сегодняшний день <span>тренер</span> в Казахстане - <span>Хаджимуратов Нурсултан</span> - обладатель золотых медалей самых <span>престижных метематических сооревнований</span></h2>
    <div class="row  w-100">
        <div class="col-md-4">
            <ul>
                <li>Золото Международной Математической Олимпиады - International Mathematical Olympiad (Казахстан, 2010)</li>
                <li><img src="/images/canvas1.png" alt=""></li>
                <li>Серебро Международной Математической Олимпиады - International Mathematical Olympiad (Испания, 2008)</li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-0">
            <img src="/images/canvas10.png" alt="">
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <ul>
                <li>Серебро Международной Математической Олимпиады - International Mathematical Olympiad (Германия, 2009)</li>

            </ul>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-md-4">
            <ul>
                <li>Золотая медаль Балканской математической олимпиады(Молдова, 2010)</li>
                <li>Серебряная медаль Балканской математической олимпиады(Сербия, 2009)</li>
                <li>Бронзовая медаль Балканской математической олимпиады(Македония, 2008)</li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-0">
            <img src="/images/canvas10.png" alt="">
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <img src="/images/Ruler1.png" alt="">

        </div>
    </div>
    <div class="row w-100">
        <div class="col-md-4 d-flex align-items-center">
            <img src="/images/canvas11.png" alt="">

        </div>
        <div class="col-md-4 col-sm-0">
        </div>
        <div class="col-md-4">
            <ul>
                <li>Серебро Международной Жаутыковской Олимпиады(Алматы, 2008)</li>
                <li>Серебро Международной Жаутыковской Олимпиады(Алматы, 2009)</li>
                <li>Серебро Международной Жаутыковской Олимпиады(Алматы, 2010)</li>
            </ul>
        </div>


    </div>
    <div class="row w-100">
        <div class="col-md-4">
            <ul>
                <li>Золото Западно-Китайской Математической Олимпиады(2009)</li>
                <li>Серебро Западно-Китайской Математической Олимпиады(2008)</li>
                <li>Бронза Западно-Китайской Математической Олимпиады(2007)</li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-0">
            <img src="/images/canvas10.png" alt="">
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <img src="/images/canvas9.png" alt="">

        </div>
    </div>
    <div class="row w-100">
        <div class="col-md-4">
            <img src="/images/canvas3.png" alt="">

        </div>
        <div class="col-md-4 col-sm-0">
            <img src="/images/canvas10.png" alt="">
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <img src="/images/canvas8.png" alt="">

        </div>
    </div>
    <p><span>Абсолютный победитель</span> Республиканской олимпиады по математике (Актау, 2009), (Кызылорда, 2010). Воспитанниками Нурсултана завоевано <span>35 медалей </span>международных и республиканских олимпиад.</p>

</div>
<div class="h-w-b w-100 d-flex flex-column align-items-center">
    <h2>Как это будет?</h2>
    <img src="/images/canvas7.png" alt="">

</div>
<div class="lvl_wrk w-100 d-flex flex-column align-items-center">
    <h2>Занятия в лагере будут проводится в <span>четырех</span> уровневых группах</h2>
    <p>Группа А - победители, призеры  и участники Республиканской олимпиады, призеры городских олимпиад по математике(~9-10 класс)</p>
    <img src="/images/canvas6.png" alt="">
    <p>Группа В - 7-8 класс, уже показавшие успех на Эйлеровской, Смагуловской или Юниорской Республиканской олимпиадах</p>
    <img src="/images/canvas5.png" alt="">
    <p>Группа С - 7-8 класс, только приступающее к подготовке</p>
    <img src="/images/canvas4.png" alt="">
    <p>Группа D - самые  юные и начинающие ребята, истересующиеся математикой(~5-6 класс)</p>
    <img src="/images/red_op.png" alt="">
</div>
<div class="achvmnts w-100 p-5 d-flex justify-content-center">
    <div class="row m-0 w-75">
        <div class="col-md-4 box first d-flex flex-column align-items-end p-4 ">
            <div class="img_block">
                <img class="w-100 h-100" src="" alt="">
            </div>
            <p>Применяем на уроках ТРИЗ. Учим не считать, а думать.</p>
        </div>
        <div class="col-md-4 p-4 center box">
            <div class="img_block c-i">
                <img class="w-100 h-100" src="" alt="">
            </div>
            <p>Самый сильный тренерский состав в Казахстане</p>
            <p>Более 150 медалей самых престижных международных олимпиад.</p>
        </div>
        <div class="col-md-4 p-4 box second">
            <div class="img_block">
                <img class="w-100 h-100" src="" alt="">
            </div>
            <p>5 самых известных математических школ страны - РФМШ, НИШ, ФМН, 165 и 90 лицей, КТЛ (Аксай) - готовятся к олимпиадам с НАШИМИ ТРЕНЕРАМИ. НАМ ДОВЕРЯЮТ ЛУЧШЕЕ</p>

        </div>
    </div>
</div>
<div class="tm-mng w-100 d-flex flex-column align-items-center">
    <img class="t_1" src="/images/canvas2.png" alt="">
    <h3>Оплата и Стоимость <br>
    Стоимость 1 часа обучения со <span>звездными <br> тренерами </span>  - 1083,3 тенге</h3>
    <p>Общее6 колич6ество академических часов: 60</p>
    <p>Цена путевки в светлое будущенее - 65 000 тенге</p>
</div>